name: tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - opened
      - review_requested

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3.5.3
      - name: Set up Flutter
        uses: subosito/flutter-action@v2.18.0
        with:
          channel: 'stable'
      - name: Install dependencies
        run: flutter pub get
      - name: Format
        run: dart format --set-exit-if-changed -o none .
      - name: Analyze
        run: flutter analyze lib
      - name: Run tests
        run: flutter test
